$ ->
  if $("#players li").length == 2
    $('#weapons').show()
    $("#waiting-for-player").hide()

  client = new Faye.Client '<%= FAYE_URL %>'
  pubsub_path = "/games/#{$('#game').data('id')}"

  subscription = client.subscribe pubsub_path, (message) ->
    switch message['type']
      when 'player_connected'
        $('#weapons').show()
        $('#waiting-for-player').hide()
        if message['name'] != $('#game').data('current-player')
          $('#players').append "<li>#{message['name']}</li>"
      when 'player_moved'
        window.location.reload(true)

  $('#weapons a').click (e) ->
    target = $(e.currentTarget)
    $('#weapons .weapon').removeClass('chosen')
    target.parents('.weapon').addClass('chosen')
    $.post("#{pubsub_path}/add_move", target.data()).done ->
     client.publish(pubsub_path, type: 'player_moved')
